@font-face {
    font-family: "Maxxii";
    src: url("../fonts/maxxi-serif-bold.ttf");
}

p {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    margin: 0;
    padding: 1rem;
    // background-color: #92ff92;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    // margin: 1rem;
    border-radius: 6px;
    background-color: #c7c7c78c;
}

.header-text {
    // font-family: 'Courier New', Courier, monospace;
    font-family: 'Maxxii';
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.day-of-week-text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    // &__img-container {
    //     width: 100%;
    //     max-width: 300px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     margin-bottom: 1rem;
    // }

    &__img {
        width: 300px;
        height: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
    }

    &__description {
        // padding-left: 1rem;
        line-height: 150%;
    }
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #dadada8c;
    // align-items: center;
}

.link {
    color: black;
    text-decoration: none;
    width: fit-content;
}

@media screen and (min-width: 700px) {
    .body {
        padding: 2rem;
    }

    .coffee {
        flex-direction: row;

        &__img {
            margin-bottom: 0;
        }

        &__description {
            font-size: 20px;
            padding-left: 1rem;
        }
    }

    .nav {
        flex-direction: row;
    }
}